.git
.gitignore

notebooks/
data/
docs/
tests/
scripts/
src/
*.csv

frontend/node_modules/
frontend/dist/
node_modules/

__pycache__/
*.py[cod]
.venv/
venv/
.ipynb_checkpoints/

.DS_Store
Thumbs.db

.env
.env.*